:root {
  --text-primary: #4F3D21;
  --text-secondary: #A67F4D;
  --bg-primary: #FFEBC9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-primary);
}
